<h1>Games Index</h1>


<p>Games A-Z</p>
<div class='games-row'>
  <%  @games_alphabetically.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>

<% if user_signed_in? %>
<p>Liked Games</p>
<div class='games-row'>
  <%  @liked_games.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>
<% end %>



