<h1 class='index-title'>Games Index</h1>


<p class='list-title'>Games A-Z</p>
<div class='games-row'>
  <%  @games_alphabetically.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>

<% if user_signed_in? %>
<p class='list-title'>Liked Games</p>
<div class='games-row'>
  <%  @owned_games.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>
<% end %>

<p class='list-title'> Best Rated</p>
<div class='games-row'>
  <%  @games_by_rating.each do |game| %>
    <%= render partial: "game_cover", locals: {game: game} %>
  <%end%>
</div>

