/*
*= require_tree .
*= require slick
*= require slick-theme
*= require_self
*/


body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #292929;
  color:#bababa;
}
.slick-track {
  margin: 0 auto;
}
#title{
  color:#4eb74b;
  position: absolute;
  margin-left: 175px;
  margin-top: -70px;
  font-size: 60px;
  font-family: 'Vesper Libre', serif;
  letter-spacing: 5px;
}
.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -600px;
  margin-top: -70px;
  width
}

.index-title{
  margin-top: 20px;
  color:#bababa;
  font-weight: lighter;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.list-title{
  margin-top: 20px;
  color:#bababa;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.links{
  position: relative;
  top: -65%;
  right: -60%;
  font-size: 25px;
  font-style: none;
}

.games-row{
  max-width: 90%;
  margin-left: 5%;
}

.game-wrapper {
  display: inline-block;
  margin-left: 40px;
}

.name{
  font-size: auto;
}

.i-own-this{
  display: flex;
  width: 200px;
  color: #212121;
  background-color: #4eb74b;
  height: 40px;
  text-align: center;
  text-decoration:none;
  padding-top: 10px;
  justify-content: center;
}


.apply-font{
  font-family: 'Vesper Libre', serif;
}

.vote-up{
  width: 95px;
  background-color:#4eb74b;
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  text-align: center;
  height: 30px;
  color: #bababa;
  text-decoration:none;
}

.vote-down{
  width: 95px;
  background-color: #4eb74b;
  display: inline-block;
  text-align: center;
  height: 30px;
  color: #bababa;
  text-decoration:none;
}


.cover-images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#nav-bar-main{
  display: inline-block;
  background-color:#212121;
  width: 110%;
  margin-top: -75px;
  height: 130px;
}

#logo{
  padding-top: 28px;
  padding-left: 20px;
}

.nav-bar{
  color:#bababa;
  text-decoration: none;
  margin: 10px;
  border-right: 3px solid #bababa;;
  padding-right: 25px;
}

.no-thing{
   border-right: none;
}

.cover-images img{
  display: block;
  max-width:200px;
  max-height:200px;
}

.cover-images{
  width:200px;
  height:200px;
  background-color: black;
  margin: 0;
}

.overlay{
  opacity: .3;
}

.game-wrapper:hover .game-wrapper-overlay{
  display: block;
}

.game-wrapper:hover .overlay-text{
  display: block;
}

.game-wrapper-overlay{
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  opacity: .5;
}

.overlay-text{
  position: absolute;
  color: white;
  display: none;
}

.votedown{
  margin-left: 130px;
  margin-top: 20px;
}

.voteup{
  margin-left:20px;
  margin-top: 20px;
}

.fa-plus-circle{
margin-left: 67px;
margin-top: 100px;
}

.fa-check-circle{
margin-left: 67px;
margin-top: 100px;
pointer-events: none;
color: green;
}
.center-arrow{
  margin-left: 74px;
}

.change-color-green{
  color: green!important;
}

.change-color-red{
  color: red!important;
}

.foo {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 2px solid red;
  z-index: 11;
}
#red {
  background-color: red;
}

/*USER PROFILE STYLES*/

.profile-container {
  padding:20px 20px;
  text-align:center;
}
.user-info-container {
  min-height:300px;
}

.avatar-container {
  vertical-align: top;
  display:inline-block;
  margin:auto;
  width:300px;
  height:300px;
  border:2px solid gray;
  border-radius: 10px;
  padding:10px;
  margin-right:20px;
  margin-bottom:20px;
  padding-top:-40px;
}

.avatar-container img {
  height:100%;
}

.stats-table {
  margin-bottom:20px;
  display:inline-block;
  text-align:left;
  color:white;
  margin-right:20px;
}

.stats-table tr {
  border:2px solid gray;
}

.stats-table td {
  padding:10px;
  padding-right:25px;
  color:white;
}

.stats-table th {
  color:gray;
  text-transform: uppercase;
  padding-right:25px;
  padding-left:25px;
}

.bio-container {
  vertical-align: top;
  display:inline-block;
  max-width:500px;
  width:90%;
  min-height:200px;
  text-align:left;
  margin-bottom:20px;
}

.owned-games-container {

  /*text-align:left;*/
  position:relative;
  top:300px;
}

/*#user-avatar img{
  height: 400px;
  padding-left: 5%;
  border-style: solid;
  border-width: 10px;
}

#username-heading {
  padding-top: 20px;
  margin-left: 50%;
  color: #4AAB48;
  font-family: 'Vesper Libre', serif;
}*/


#stats-container {
  display: flex;
  flex-direction: row;
}

#stats-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #bababa;
  padding-top: 3%
}

#user-bio {
  max-width: 30%;
}

#user-owned-games {
  padding-top: 26%
}

#user-owned-games p {
  padding-bottom: 10px
}

#user-stats {
  /*color: #bababa;
  position: relative;
  left: 640px;
  bottom: 268px;*/
}
#user-bio {
  /*color: #bababa;
  width: 250px;
  position: relative;
  left: 325px;
  bottom: 400px;*/
}
#bio-heading {
  /*position: relative;
  left: 55px;*/
}
#stats-heading {
  /*position: relative;
  left: 57px;*/
}
.user-owned-games{
  margin-top: -320px;
}
.game-title{
  font-size: 50px;
  margin-top: 20px;
  color:#bababa;
  font-weight: lighter;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.game-photo{
  display: flex;
  justify-content: center;
  margin-top: 140px;
  float: left;
  margin-left: 75px;
  transform: scale(2, 2);
}
.game-photo .name{
  display: none;
}

/*User login Page*/
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.edit-container {
  margin-top: 40px
}

.login-header {
  color: #bababa;
  margin-bottom: 30px;
  margin-right: 10%;
}

#new_user {
  display: block;
  margin: auto
}

#new_user div {
  color: #4AAB48 ;
}

#under-edit {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#under-edit form {
  margin-right: 100px;
  width: 30%;
}


#edit_user div {
  color: #4AAB48 ;
}

#new_user input {
  width: 700px;
  height: 60px;
  padding: 20px;
}

.edit_user div.actions {
  margin-top: 10px
}

#under-edit > form:nth-child(2) > input.back-button {
  width: 160px
}

#new_user > div.actions > input[type="submit"] {
  margin-top: 20px
}

#edit_user input{
  width: 700px;
  height: 60px;
  padding: 20px;
}

#login-check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#login-check-box input {
  display: flex;
  flex-direction: row;
  order: 2;
}

#login-check-box label {
  display: inline-block;
  order: 1;
  padding-right: 20px;
}

.shared-links {
  margin-top: 30px;
  margin-right: 10%;
}

.shared-links a {
  text-decoration: none;
  color: #bababa;
}
.unclickable{
  pointer-events: none;
}
.red{
  color: red;
}
.green{
  color: green;
}

/* User Login page*/

.registration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.registration-header {
  color: #bababa;
  margin-bottom: 30px;
  margin-right: 0 auto;
}

.registration-container a{
  text-decoration: none;
  color: #bababa;
  margin-top: 30px;
  margin-left: 0 auto}


.show-text{
  font-size: 40px;
  color:#bababa;
  font-weight: 200;
  letter-spacing: 3px;
}
.rating-text{
  margin-top: 60px;
  margin-left: 450px;
}
.category-text{
  margin-top: 35px;
  margin-left: 450px;
}
.genre-text{
  margin-top: -40px;
  margin-left: 450px;
}
.rating{
  font-size: 40px;
  margin-top: -75px;
  color:#bababa;
  font-weight: 400;
  letter-spacing: 3px;
  margin-left: 760px;
}
.genre{
  margin-left: 590px;
}
.category{
  margin-left: 570px;
}

.line-thing {
    display:flex;
    width: 80%;
    margin-left: 130px;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#bababa), to(#292929));
}
.other-line-thing {
  margin-top: 20px;
    display:flex;
    width: 80%;
    margin-left: 130px;
    border:none;
    background-color: #212121;
    height:3px;
}
.unclickable{
  pointer-events: none;
}
.red{
  color: red;
  margin-left: 73px;
}
.green{
  color: green;
  margin-left: 73px;
}

.description-text{
  margin-top: -260px;
  margin-left: 60%;
}
.game-description{
  display: flex;
  font-weight: 300;
  text-indent: 250px;
  margin-top: -65px;
  margin-left: 60%;
  margin-right: 200px;
  font-size: 30px;
}

.search-result {
  padding-top: 25px;
 float: left;
}

.comment-text :nth-child(1){
  width: 400px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-comment-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.comment-button :nth-child(1){
  width: 400px;
  margin-top: -10px;
  height: 40px;
}
.user-comment{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.comment-name{
  font-weight: 400;
}
.comment-liked{
  margin-top: -8px;
  font-weight: 200;
  font-size: 20px;
}

.review{
  margin-top: 20px;
  margin-bottom: -40px;
  display: flex;
  font-size: 45px;
  flex-direction: column;
  align-items: center;
  font-weight:400;
}

