/*
*= require_tree .
*= require slick
*= require slick-theme
*= require_self
*/


body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #292929;
}
.slick-track {
  margin: 0 auto;
}
#title{
  color:#4eb74b;
  position: absolute;
  margin-left: 175px;
  margin-top: -70px;
  font-size: 60px;
  font-family: 'Vesper Libre', serif;
  letter-spacing: 5px;
}
.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -600px;
  margin-top: -70px;
  width
}


.index-title{
  margin-top: 20px;
  color:#bababa;
  font-weight: lighter;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.list-title{
  margin-top: 50px;
  color:#bababa;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.links{
  position: relative;
  top: -65%;
  right: -60%;
  font-size: 25px;
  font-style: none;
}

.games-row{
  max-width: 90%;
  margin-left: 5%;
}

.game-wrapper {
  display: inline-block;
  margin-left: 40px;
}

.name{
  font-size: auto;
}

.i-own-this{
  display: flex;
  width: 200px;
  color: #212121;
  background-color: #4eb74b;
  height: 40px;
  text-align: center;
  text-decoration:none;
  padding-top: 10px;
  justify-content: center;
}


.apply-font{
  font-family: 'Vesper Libre', serif;
}

.vote-up{
  width: 95px;
  background-color:#4eb74b;
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  text-align: center;
  height: 30px;
  color: #bababa;
  text-decoration:none;
}

.vote-down{
  width: 95px;
  background-color: #4eb74b;
  display: inline-block;
  text-align: center;
  height: 30px;
  color: #bababa;
  text-decoration:none;
}


.cover-images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#nav-bar-main{
  display: inline-block;
  background-color:#212121;
  width: 110%;
  margin-top: -75px;
  height: 130px;
}

#logo{
  padding-top: 28px;
  padding-left: 20px;
}

.nav-bar{
  color:#bababa;
  text-decoration: none;
  margin: 10px;
  border-right: 3px solid #bababa;;
  padding-right: 25px;
}

.no-thing{
   border-right: none;
}

.cover-images img{
  display: block;
  max-width:200px;
  max-height:200px;
}

.cover-images{
  width:200px;
  height:200px;
  background-color: black;
  margin: 0;
}

.overlay{
  opacity: .3;
}

.game-wrapper:hover .game-wrapper-overlay{
  display: block;
}

.game-wrapper:hover .overlay-text{
  display: block;
}

.game-wrapper-overlay{
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: black;
  opacity: .5;
}

.overlay-text{
  position: absolute;
  color: white;
  display: none;
}

.votedown{
  margin-left: 130px;
  margin-top: 20px;
}

.voteup{
  margin-left:20px;
  margin-top: 20px;
}

.fa-plus-circle{
margin-left: 67px;
margin-top: 100px;
}

.fa-check-circle{
margin-left: 67px;
margin-top: 100px;
pointer-events: none;
color: green;
}

.change-color-green{
  color: green!important;
}

.change-color-red{
  color: red!important;
}

.foo {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 2px solid red;
  z-index: 11;
}

#red {
  background-color: red;
}








